body{    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #deb3ad;
    color:black;
    margin:auto;
    padding:0%;
    width:90%;
    max-width: 1200px;
}

h1{
    font-size: 2rem;
    font-weight:bolder;
}
h2{
    font-size:1.5rem;
    font-weight:bold
}
ul{
    font-size: 1rem;
}

