.home-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999;
  padding: 10px 16px;
  background-color: #f5c16c;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}



.photo {
    width: 300px;
    height: auto;
}

body{
    background-color: white;
 text-align: center;
}
h1{
    color:#800020;

    font-size: 3rem;
}
h2{
       color: black;
       font-size: 2rem;
}
h3{
  color:#800020;
  font-size: 1.75rem;
}
p{
    color:grey;
    font-size: 1.5rem;
}

button{
    background-color: lightpink;
    color:darkred;
     width: 180px;
  height: 50px;
}
.button-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 buttons, 2 images */
  grid-template-rows: auto auto; /* row 1 = buttons, row 2 = images */
  gap: 10px;
  width: 100%;
  max-width: 800px; /* optional */
  margin: 0 auto;   /* centers the whole block */
}

/* Make buttons fill their grid cells */
.button-image-grid button {
  width: 100%;
  display: block;
}

/* Make images fill their grid cells */
.button-image-grid img {
  width: 100%;
  display: block;
  object-fit: cover;
}