.photo {
    width: 300px;
    height: auto;
}

body{
    background-color: lightgray;
 text-align: center;
}
h1{
    color:#800020;

    font-size: 3rem;
}
h2{
       color: darkred;
       font-size: 2rem;
}
p{
    color:black;
    font-size: 1.5rem;
}

button{
    background-color: lightpink;
    color:darkred;
     width: 180px;
  height: 50px;
}