.photo {
    width: 300px;
    height: auto;
}

@media (max-width: 600px) {
    section {
        padding: 10px;
    }

    h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .photo {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;

    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
#toggleDarkMode {
    margin-top: 2em;
}

body.darkMode {
    background-color: navy;
    color: pink;
}

body.darkMode h1 {
    color: maroon;
}
